@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
:root {
  /* Background Colors */
  --bg-color: #1e1e2f;
  --board-bg: #2a2a40;

  /* Text Colors */
  --text-primary: #f5f5f5;
  --text-accent: #38bdf8;

  /* Game Elements */
  --snake-color: #4ade80;
  --food-color: #f87171;
}
